@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


.header {
    padding: 0 20px;
    border-bottom: 1px solid #EFF5FB;
    margin-bottom: 16px;
}

.content {
    display: flex;
}

.content__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 51px;
}

.content__btn {
    margin-left: auto;
    padding: 14px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #03B2A5;
    background-color: #E3F5F5;
    outline: none;
    border: none;
    border-radius: 4px;
}

.burger {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

i {
    border: solid #333333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.blog__breadcrumps {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
    margin-bottom: 30px;
}

.blog__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    margin-bottom: 32px;
}

.filters__list {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.filters__item {
    display: flex;
    align-self: center;
    flex-shrink: 0;
    gap: 4px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    color: #333333;
}

.filters__item_active {
    border: 2px solid #16C8BB;
}

.blog__top  {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}



.articles___top {
    display: flex;
    flex-direction: column;
    max-width: 588px;
    width: 100%;
    min-height: 499px;
    position: relative;
    flex-shrink: 0;
}

.articles__top__tab {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 6px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.articles___top__image {
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.articles__top__text {
    flex-grow: 1;
    padding: 16px;
    border: 1px solid #DEDEDE;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
}

.articles__top__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 4px;
}

.articles__top__author, .articles__top__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.articles__top__author {
    color: #494949;
    margin-bottom: 8px;
}

.articles__top__description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: auto;
}

.articles__top__date {
    color: #868686;
}

.blog___bottom {

    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    
}


.articles___bottom__image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 384px;
    height: 260px;
}

.bottom {

    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 6px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.articles__bottom__tab {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.articles___bottom {
    display: flex;
    flex-direction: column;
    max-width: 588px;
    width: 100%;
    min-height: 499px;
    position: relative;
    flex-shrink: 0;

}


.articles__bottom__author, .articles__bottom__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.articles__bottom__author {
    color: #494949;
    margin-bottom: 8px;
}
.articles__bottom__description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: auto;
}
 

.articles___bottom {
    display: flex;
    flex-direction: column;
    max-width: 588px;
    width: 100%;
    min-height: 499px;
    position: relative;
    flex-shrink: 0;
    width: 384px;
    height: 475px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    margin: auto;
    
}

.articles___bottom__image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 384px;
    height: 260px;
    top: -1px;

}

                
.articles__bottom__description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: auto;
}
                   
.articles__bottom__date, .articles__bottom__autho {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.articles__bottom__author {
    color: #494949;
    margin-bottom: 8px;
}
.articles___bottom__image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 384px;
    height: 260px;
    top: -1px;
}

.articles__bottom__title {
    flex-grow: 1;
    padding: 16px;
    font-size: 18px;
    line-height: 26px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #DEDEDE;
    color: #333333;
    height: 216px;
}

.articles__bottom__text {
    font-weight: 700;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
}

.articles__bottom__author, .articles__bottom__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin-top: 24px;
}

.articles__bottom__author {
    color: #494949;
    margin-bottom: 8px;
}

.articles__bottom__description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.btn__more {
    display: block;
    background: #35B3A9;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    width: 182px;
    min-height: 48px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 56px auto 96px auto;
}

.footer {
    background: #2963A3;
    padding: 40px 40px 0 40px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer__nav__wrapper {
    max-width: 310px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__nav__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.email__wrapper {
    max-width: 486px;
    width: 100%;
}

.email__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.email__description {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.email {
    position: relative;
    max-width: 384px;
    width: 100%;
    display: flex;
}

.email__input {
    width: 100%;
    height: 48px;
    padding-left: 16px;
    color: #9D9D9D;
    border: 1px solid rgba(157,157,157, .2);
    border-radius: 4px;
}

.email__button {
    border: none;
    outline: none;
    width: 64px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16C8BB;
    position: absolute;
    right: -6px;
    top: 0;
    border-radius: 4px;
}

.footer__bottom {
    display: flex;
    gap: 48px;
    color: white;
    border-top: 1px solid #9D9D9D;
}

.social__top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 1024px) {
    .content__logo {
        margin-right: 32px;
    }
    .nav {
        gap: 16px;
    }
    .footer__top {
        flex-direction: column;
         gap: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .content__btn {
        display: none;
    }

    .burger {
        display: block;
        margin-left: auto;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        max-width: 414px;
        width: 100%;
    }
    /*тут для айфона 11 */      
    .articles___top, .articles___bottom, .articles___bottom__image, .articles___top__image  {
        max-width: 374px;
        width: 100%;
    }
    .footer__bottom {
        flex-direction: column;
        gap: 0px;
    }
    .blog__top {
        justify-content: center;
    }
    .articles__bottom__date {
        margin-top: 10px;
    }
    .articles___bottom {
        margin-top: 10px;
    }
    .articles__bottom__title {
        height: unset;
    }
}


@media only screen and (max-width: 320px) {
    /*тут для айфона мелкого */      
}