@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 120px;
    margin: 0 auto;
}
/*шапка*/

.header{
    border-bottom: 1px solid #EFF5FB;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.logo__link {
    size: 51px 36px;
}

.header__content{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.logo{
    margin-right: 51px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__list::after {
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #333333;
    background-color: #fff;
    left: -9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.btn{
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    color:  #03B2A5;
    padding: 14px 20px;
    background-color: #E3F5F5;
    border-radius: 4px;
    border: none;
    outline: none;
}

/*главная страница*/

.filters__list{
    display: flex;
    align-items: center;
    gap: 4px;
    width: Hug (149px)px;
    height: Fill (32px)px;
    padding: 6px 8px 6px 8px;
    gap: 4px;
    border-radius: 24px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-color: #C1C5CD;

}

.big-article {
    border: solid 1px black;
    width: 300px;
    justify-content: space-between;
    
}

.big-articles-container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
     
}

.small-article {
    display: grid;
    grid-row: 2;
    border: solid 1px black;
    width: 300px;
    gap: 10px; 
    
}

.small-articles-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.btn1 {
    display: flex;
    margin: auto;
    width: Fixed 182pxpx;
    height: Hug 48pxpx;
    top: 1837px;
    left: 629px;
    padding: 14px 60px;
    gap: 8px;
    border-radius: 4px;
    opacity: none;
    border: none;
    outline: none;
    background-color: hwb(180 9% 30%);
    color: rgb(243, 246, 245);


}
/*подвал*/


.listcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color:  #FFFFFF;
    width: 1440px;
    height: 302px;
    top: 1981px;
    gap: 0px;
    opacity: 0px;
    
}

.list {
    display: grid;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 10px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2963A3;
    margin-bottom: auto;
    width: Fixed (1,200px)px;
    height: Hug (184px)px;
    top: 40px;
    left: 120px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;

     
}

.list1 {
    display: flex;
    width: Fixed (486px)px;
    height: Hug (170px)px;
    gap: 8px;
    opacity: 0px;
    display: block;
    width: 25%;
    float: left;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.cearch__link_img {
    display: flex;
    align-items: center;
    width: 384px;
    height: 48px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
 }

 .list2 {
    display: flex;
    align-items: center;
    gap: 30px;
  }
    
    